.alert_div {
    padding: 20px;
    background-color: #f3e8c9; /* Red */
    color: black;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }


.furniture_block+.furniture_block {
    margin-top: 50px;
}
/* .horizontal_line_separator_confirm{
    width: 10%;
    height: 2px;
    background-color: #000000;
} */

.submit_align_wrapper{
    margin-top: 30px;
    border-top: 2px dashed #000000;
    width: 70%;
}
.body_furniture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.horizontal_line_separator{
    width: 100%;
    height: 1px;
    background-color: #000000;
}
.furniture_block {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top: 1px solid gray; */
}

.furniture_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_furniture {
    padding: 10px 10px 10px 10px;
    margin-right: auto;
}
.arrow{
    width: 20px;
    height: 20px;
}
.header_furniture label {
    font-size: 16px;
}

.file_div {
    align-items: center;
    justify-self: start;
}
.clear_images{
    /* background: rgb(234, 103, 103); */
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 12px;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat Medium 500', sans-serif;
    font-size: 14px;
    width: 25px;
    height: 25px;
    text-align: center
}

.form_button_next_step {
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    transition: .5s all;
    width: 200px;
    height: 45px;
    background-color: #ffffff;
    border: solid;
    border-color: #f3e8c9;
    border-width: 3px;
    font-family: 'Montserrat Medium 500', sans-serif;
    border-radius: 12px;
  }
  
  .form_button_next_step:hover {
    background-color: #f3e8c9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

.next_stage_wrapper{
    margin-top: 40px;
    padding-top: 30px;
    border-top: 2px dashed #000000 ;
    display: flex;
    align-items: center;
    width: 70%;
    
    display: flex;
    justify-content: space-between;
}
.link_author{
    visibility: hidden;
}
.body_furniture {
    width: 70%;
    font-size: 16px;
}

.body_furniture textarea {
    text-align: justify;
}
input:disabled,
input[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
input:disabled,
input[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.file_input {
    width: 50%;
    max-width: 300px;
}

.file_input::-webkit-file-upload-button {
    content: "Додати фото";
    visibility: hidden;
}

.image_upload_logo{
    width: 20px;
    height: 20px;
}
.file_input::before {
    width: 100px;
    text-decoration: none;
    /* margin-left: 30px; */
    color: black;
    border-radius: 12px;
    content: "Додати фото";
    display: inline-block;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat Medium 500', sans-serif;
    font-size: 14px;
    padding: 14px;
    background-color: #f3e8c9;
    width: 100%;
    height: 50px;
    text-align: center
}

.file_input:hover::before {

    content: 'Додати фото';
    font-family: 'Montserrat Medium 500', sans-serif;
    border: none;
    background-color: #efd8b5;
}

.file_input:active::before {
    content: 'Додати фото';
    font-family: 'Montserrat Medium 500', sans-serif;
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file_div {
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

.obj_input {
    align-items: center;
    height: 100px;
}

.step_2 {
    font-size: 30px;
    font-family: Forum;
}

.main_div {

    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 0px 10px 20px 7px;
    width: auto;
    font-family: 'Verdana';
    border-radius: 15px;
}

.main_div_buttons {
    overflow-x: hidden;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 0px 10px 20px 7px;
    width: auto;
    font-family: 'Verdana';
    background-color: #ffffff;
    border-radius: 15px;
}

.user_label {
    font-size: 90%;
    padding-bottom: 10px;
    font-weight: 500;
    color: #542400;

}

.user_div_inner {
    font-family: Forum;
    font-size: 150%;
    text-align: center;
    padding-top: 30px;
}

.button_next {
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    transition: .5s all;
    width: 400px;
    height: 40px;
    background-color: #f3e8c9;
    font-family: 'Montserrat Medium 500', sans-serif;
    border-radius: 7px;
    border: none;
    margin: 20px auto;
}

.main {
    width: auto;
    justify-content: space-between;
}

.stage_wrapper {
    padding-left: 0px!important;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.stage_wrapper li {
    /* z-index: 1; */
    width: 15%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}           

.stage_wrapper li .icons {
    font-size: 25px;
    color: #479c47;
    margin: 0 60px;
}

.stage_wrapper li .label {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    color: #479c47;
}

.stage_wrapper li .step {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #d7d7c3;
    margin: 16px 0 10px;
    display: grid;
    place-items: center;
    color: ghostwhite;
    position: relative;
    cursor: pointer;
}

.step::after 
    
{
    position: absolute;
    z-index: -1;
    content: "";
    width: 25vw;
    max-width: 300px;
    height: 3px;
    background-color: #d7d7c3;
    right: 30px;
}

.first::after {
    width: 0;
    height: 0;
}

.stage_wrapper li .step .awesome {
    display: none;
}

.stage_wrapper li .step p {
    font-size: 18px;
}

.stage_wrapper li .active {
    z-index: 3;
    background-color: #479c47;
}

li .active::after {
    position: absolute;
    z-index: 2;
    background-color: #479c47;

}

.stage_wrapper li .active p {
    display: none;
}

.stage_wrapper li .active .awesome {
    display: flex;
}


.button_next:hover {
    background-color: #efd8b5;
}

@media screen and (max-width:480px){
    .submit_align_wrapper{
        width: 100%;
    }
    .body_furniture{
        width: 100%;
    }
    .next_stage_wrapper{
        width: 100%;
    }
    
    .furniture_block{
        width: 100%;
    }
    
    .stage_wrapper li .label {

        letter-spacing: 0.5px;
        font-size: 12px;
        margin-right: 5px;
    }

    
    .button_next{
      width: 300px;
      height: 80px;
      font-size: 18px;
    }
    .main_div {
        width: 90%;
    }
}

.user_div_inner+.user_div_inner {

    /* padding-top: 30px; */
    align-items: center;
    align-self: center;
}

.user_input {
    margin-left: 15px;
    margin-top: 10px;
    display: block;
    width: 100%;
    align-self: center;
    padding: 10px;
    max-width: 300px;
    min-width: 200px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all .5s;
    border: 1px solid rgb(86, 85, 85);
    color: black;
}

.user_input:hover {
    border: 1px solid black;
}
.text_header {
    margin-top: 10px;
    padding: 5px 0px 0px 0px;
    font-size: 18px;
    font-family: 'Montserrat Medium 500', sans-serif;
}

.obj_description {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    transition: all .5s;
    max-width: 600px;
    border: 1px solid gray;
    min-height: 80px;
}

.obj_description:hover {
    border: 1px solid black;
}

.select_owner {
    width: 50%;
    padding: 5px;
}

.select_owner option {
    border: none;
    border-radius: 10px;
}

.error_block {
    width: 70%;
    background-color: rgb(189, 48, 48);
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}
.submit_form{
    color: black;
    border-radius: 12px;
    content: 'Додати фото';
    display: inline-block;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat Medium 500', sans-serif;
    font-size: 16px;
    padding: 12px;
    background-color: #f3e8c9;
    width: 240px;
    height: 50px;
    text-align: center
}
.submit_form:hover {
    background-color: #efd8b5;
}
.rules {
    font-size: 100%;
    text-align: center;
}
.image_wrapper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_image{
    max-width: 95%;
    height: 400px;
}
.slider_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_wrapper > div {
    width: 100%!important;
}
/* .slider_align_wrapper{
    width: 100%!important;
} */


.results_wrapper{
    display: flex;
    justify-content: space-between;
    
}
.react-slideshow-container{
    width: 100%!important;
}
.slider_wrapper{
    width: 100%;
}
.trash_logo{    
    height: 100%;
}
.room_type {
    padding: 2          0px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat Medium 500', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 0.8rem;
    color: #000000;
    outline: none;
    text-align: center;
}

.sending_form {
display: flex;
align-items: center;
justify-content: center;
}

@media screen and (max-width:480px){
    .results_wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .error_block {
        width: 100%;
    }
    .button_next{
      width: 290px;
      height: 60px;
      font-size: 16px;
    }
    .obj_description {
        width: 100%;
    }
    .obj_input{
        width: 100%;
    }
    .file_div{
        justify-content: space-between;
    }
    .file_input{
        width: 50%;
        max-width: 300px;
    }
    .file_input::before {
        /* width: 100px; */
        font-size: 12px;
        width: 100%;
        height: 40px;
    }
    .clear_images{
        font-size: 12px;
        width: 25px;
        height: 25px;
        /* margin-top: 10px; */
        /* margin-left: 30px; */
    }
}
