.main_rooms {
    background-color: #FDF2E9;
    margin-top: 60px;
}
.main_info {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat Medium 500', sans-serif;
    letter-spacing: 5px;
    color: black;
    outline: none;
    text-align: center;
}

.info {
    padding-top: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat Medium 500', sans-serif;
    letter-spacing: 5px;
    color: black;
    outline: none;
    text-align: center;
}

.info_back {
    padding: 40px;
    background-color: #E6C797;
}

.name {
    padding: 20px;
    color: black;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: 'Verdana'
}
.image {
    min-height: 100px;
}
.image_furniture{
    max-width: 500px;
}
.image_div{
    margin: 10px;
}

.verify_button {
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    width: 400px;
    height: 45px;
    background-color: #E6C797;
    border: none;
    font-family: 'Montserrat Medium 500', sans-serif;
    border-radius: 12px;
    margin: 20px auto;
}

.verify_button:hover {
    background-color: #efd8b5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.verify {
    padding-left: 5px;
    padding-bottom: 25px;
}

.main_heading {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat Medium 500', sans-serif;
    letter-spacing: 5px;
    color: black;
    outline: none;
    text-align: left;
  }

.room_number{
    padding: -10px;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Montserrat Medium 500', sans-serif;
    letter-spacing: 10px;
    margin-bottom: 0.1rem;
    color: black;
    outline: none;
    text-align: center;
}

.finish_date_input {
    margin-left: 22%;
    margin-top: 1%;
    padding: 10px;
    outline: none;
    border: 1px solid transparent;
    width: 250px;
    border-radius: 10px;
    transition: all .5s;
    border: 1px solid rgb(86, 85, 85);
    color: black;
}

.finish_date_text{
    margin-left: 22%;
    margin-top: 1%;
    color: black;
    font-size: 16px;
}

.move_out_button{
    margin-left: 25%;
    background-color: #E6C797;
    color: black;
    border-radius: 12px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 30px;
    font-family: 'Montserrat Medium 500', sans-serif;
}

.move_out_button:hover {
    background-color: #efd8b5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.general_move_out{
    margin-left: 22%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: #E6C797;
    color: black;
    border-radius: 12px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Montserrat Medium 500', sans-serif;
}

.general_move_out:hover {
    background-color: #efd8b5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.vertical-line {
    border-left: 1px solid black; /* Adjust color and thickness as needed */
    height: 100px; /* Adjust height as needed */
  }

.rooms_list {
    padding: 40px;
    font-size: 18px;
    font-family: 'Montserrat Medium 500', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0.8rem;
    color: #000000;
    outline: none;
    text-align: center;
    margin-top: 60px;
  }

.rooms_list_back{
    background-color: #E6C797 ;
}

.wings {
    padding-top: 16px;
    padding-left: 16px;
    font-size: 16px;
    font-family: 'Montserrat Medium 500', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000000;
    outline: none;
  }

.heading_background{
    background-color: #E6C797 ;
    padding: 10px;
}

.confirm_button {
    background-color: #E6C797 ;
    color: black;
    border-radius: 12px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 30px;
    font-family: 'Montserrat Medium 500', sans-serif;
}

.confirm_button:hover {
    background-color: #efd8b5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.discard_button {
    background-color: #d5cfc6 ;
    color: black;
    border-radius: 12px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 30px;
    font-family: 'Montserrat Medium 500', sans-serif;
}

.discard_button:hover {
    background-color: #e8e3dc;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button_nav {
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    transition: .5s all;
    width: 400px;
    height: 45px;
    background-color: #FDF2E9;
    border: solid;
    border-color: #E6C797;
    border-width: 3px;
    font-family: 'Montserrat Medium 500', sans-serif;
    border-radius: 12px;
    margin: 20px auto;
}

.button_nav:hover {
    background-color: #efd8b5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.body_search {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #E6C797;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    width: 400px;
    background-color: #FAECE1;
}

.search-button {
    border: none;
    outline: none;
    background-color: #E6C797;
    color: #000000;
    border-radius: 0 25px 25px 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #efd8b5;
}

.description {
    background-color: #FDF2E9;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1% 1% 1% 1%;
    margin-top: 10px;
}

@media screen and (max-width:480px){
    .finish_date_text{
        font-size: 110%;
        margin-left: 32%;
    }
    .finish_date_input {
        margin-left: 20%;
        width: 250px;
    }
    .move_out_button {
        width: 200px;
        margin-left: 26%;
    }
    .general_move_out{
        margin-left: 19%;
    }
    .verify{
        padding-left: 50px; 
    }
    .main_heading {
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Montserrat Medium 500', sans-serif;
        letter-spacing: 5px;
        color: black;
        outline: none;
        text-align: left;
        margin-left: 0px;
      }

    .button_nav {
        width: 300px;
        height: 45px;
        margin: 20px auto;
    }
    .verify_button {
        width: 300px;
    }
    .verify {
        padding-left: 2px;
    }
    .search-input {
        width: 250px;
    }
}
