.new_main{
    display: flex;
}

.background-image {
    background-image: url('../assets/collegium_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.logo-collegium {
    width: 45%;
    align-self: center;
}

.form-control{
    height: 100%;   
}

.card{
    border: none!important;
}

.login_header{
    color: "black";
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 300;
}

.input_group{
    display: flex;
    flex-direction: column;
}

.aside_login_container {
    width: 40%;
    position: absolute;
    top: 5%;
    right: 10%;
}

@media only screen and (max-width: 1000px)  {
    .image_aside{
        display: none!important;
    }
    .login_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside_login_container {
        top: 10%;
        right: 15%;
        width: 70%;
    }
}   

@media only screen and (max-width: 1024px) and (min-height: 1366px)  {
    .image_aside{
        display: none!important;
    }
    .login_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside_login_container {
        top: 10%;
        right: 20%;
        width: 60%;
    }
}   

.login_button{
    font-family: "Lexend", sans-serif;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: 300;
}

.input_login {
    padding: 0px 10px;
    border-radius: 7px;
    border: 10px  #8D0709;
    border-color: #8D0709;
}
.form_label{
    margin-bottom: 7px;
    color: "black";
    font-family: "Lexend", sans-serif;
    font-size: "16px";
    letter-spacing: 2px;
    font-weight: 300;
}
.form_login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.button_submit {
    border: none !important;
    border-radius: 12px;
    border-color: #FFFFFF;
    margin-top: 15px;
    height: 40%;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    --bs-btn-bg:  #8D0709!important;
    letter-spacing: 2px;
    font-weight: 300;
  }
  
  .button_submit:hover {
    background-color: #C81F21!important;
    color: black;
    border: none!important;
    
  }

  .link{
    margin-left: 15px;
    color: black;
    display: inline-block;
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }

.h5{
    margin-bottom: 0px!important;
}
.link-copied{
    margin-left: 15px;
    color: gray;
    display: inline-block;
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    opacity: 0.5    ;
}
.copy_logo{
    width: 20px;
    height: 20px;
}
.red_letter {
    color: #8D0709;
  }
.card-body{
    border: none;
    align-items: center;
    justify-content: center;
    align-items: center;
    --bs-card-border-color: #FFFFFF;
}
.card-body-login{
    border: none;
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    align-items: center;
    --bs-card-border-color: #FFFFFF;
    margin-left: 3%;
    margin-right: 3%;
}


.aside_image_login{
    border: none;
    height: 50%;
    width: 0%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    object-position: center;
    z-index: -1;
}

.heading_login{
    display: flex;
    justify-content: center;
    margin: 30px;
    letter-spacing: 8px;
    font-family: 'Lexend', sans-serif;
    font-size: 52px;
    font-weight: 300;
}

.login_wrapper{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    width: 100vw;        
}

.button_add_curators{
    width: 100%;
    background-color: #f7d474;
    border: none;
    border-radius: 12px;
    margin-top: 15px;
    font-size: 16px;
    padding: 10px;

}
