.loader {
  position: absolute;
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: 50%;
    animation: spin 2s linear infinite;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.loader_block{
    position: center;
    height: 400px;
}   

.loader_block p{
    text-align: center;
    font-size: larger;
}

.reg_text_div{
  /* padding: 40px; */
  height: 70px;
  font-size: 18px;
  /* margin-top: 60px; */
  text-transform: uppercase;
  font-family: 'Montserrat Medium 500', sans-serif;
  letter-spacing: 5px;
  margin-bottom: 0.8rem;
  color: #000000;
  outline: none;
  text-align: center;
  background-color: #f3e8c9;
}

.room_type_header{
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
  padding-bottom: 2px;
  color: #000000;
  outline: none;
  text-align: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  height: 70px;
}

.greet {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}

.greet_big {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  padding-left: 52px;
  padding-right: 52px;
  margin-top: 16px;
}

.form_nav_back {
  overflow-x: hidden;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 20px 7px;
  width: auto;
  background-color: #ffffff;
  border-radius: 15px;
}

.form_button_nav {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  transition: .5s all;
  width: 400px;
  height: 45px;
  background-color: #ffffff;
  border: solid;
  border-color: #8D0709;
  border-width: 1px;
  border-radius: 12px;
  margin: 20px auto;
  font-family: "Lexend", sans-serif;
  letter-spacing: 2px;
  justify-content: space-between; /* Ensures content is spaced out */
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: left;
}


.form_button_nav:hover {
  background-color: #d9d9d9
}

/* .circle {
  position: relative;
  z-index: 9999;
  width: 100%;
  left: 50%;
  bottom: 60px;
  height: 20px;
  font-size: 3rem;
  cursor: pointer;
  color: black;
} */

.register-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  height: 70px;
  margin-top: 5%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width:480px){
  .greet {
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .greet_big {
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    padding-left: 52px;
    padding-right: 52px;
    margin-top: 16px;
  }
  .register {
    font-size: 20px;
  }
  .reg_text_div{
    font-size: 25px;
  }
  .form_button_nav {
    width: 280px;
    height: 45px;
    margin: 20px auto;
    font-size: 12px;
  }
  .circle {
    left: 47%;
  }
}
