.new_main{
    display: flex;
}

.image_aside{
    width: 60%;
    position: relative;
}
.login_wrapper{
    width: 40%;
}
.form-control{
    height: 50px!important;   
}
.card{
    border: none    ;
}
.blur_aside_image_login{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: rgb(230, 199, 151);
  position: absolute;
  opacity: 0.3;
  z-index: 1;
}
.login_header{
color: "black";
font-family: "Montserrat", sans-serif;
font-weight: 900; 
font-size: 23px;
}
.input_group{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px)  {
    .image_aside{
        display: none!important;
    }
    .login_wrapper{
        width: 100%;
        gap: 14%!important;
    }
}   

.login_button{
    font-family: "Montserrat", sans-serif;

}
.aside_login_container{
    padding-left: 10%!important;
    padding-right: 10%!important;
}
.input_login {
    padding: 0px 10px;
    border-radius: 7px;
    border: 1px solid #1B1C57;
}
.form_label{
    margin-bottom: 7px;
    color: "black";
    font-family: "Montserrat", sans-serif;
    font-weight: 700; 
    font-size: "16px";
}
.form_login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.button_submit {
    border: none;
    border-radius: 12px;
    margin-top: 15px;
    height: 60px;
    font-family: 'Montserrat Medium 500';
    font-size: 16px;
    color: black;
    padding: 15px;
    width: 100%;
    --bs-btn-bg:  #f7cf95!important;
    --bs-btn-border-color:  #f7cf95!important;
  }
  
  .button_submit:hover {
    background-color: #e7ba77!important;
    color: black;
    
  }

  .link{
    display: inline-block;
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }

.h5{
    margin-bottom: 0px!important;
}
.link-copied{
    display: inline-block;
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    opacity: 0.5    ;
}
.copy_logo{
    width: 20px;
    height: 20px;
}
.card-body{
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: '5px';
    border: none!important;
}
.card-body-login{

    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: '5px';
    padding: 15px;
    /* border: none!important; */
}



.aside_image_login{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;z-index: 2;
  object-position: center;
  z-index: -1;
}

.heading_login{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.login_wrapper{
    display: flex;
    flex-direction: column;
}

.button_add_curators{
    width: 100%;
    background-color: #f7d474;
    border: none;
    border-radius: 12px;
    margin-top: 15px;
    font-size: 16px;
    padding: 10px;

}