.navbar_m {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #8D0709;
    color: #fff;
    height:8vh;
    font-size: 16px;
    z-index: 1000;
}
.navbar_m2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #8D0709;
    color: #fff;
    height:8vh;
    font-size: 16px;
    z-index: 1000;
}
.confirm_button{
    background-color: #8D0709;
    border: #8D0709;
    border-radius: 16px;
    height: 40px;
    width: 127px;
    font-family:  "Roboto Flex", sans-serif;
    font-size: 16px;
    color: #ffffff;
    transition: background-color 300ms ease-out;
}

.confirm_button:hover {
    background-color: #C81F21;
    border: #C81F21;
}

.discard_button{
    background-color: #8D0709;
    border: #8D0709;
    border-radius: 16px;
    height: 40px;
    width: 127px;
    font-family:  "Roboto Flex", sans-serif;
    font-size: 16px;
    color: #ffffff;
    transition: background-color 300ms ease-out;
}

.discard_button:hover {
    background-color: #C81F21;
    border: #C81F21;
}

.navbarbrand-title{
    cursor: pointer;
    font-family:  "Roboto Flex", sans-serif;
    font-size: 24px;
    transition: color 300ms ease-out;
}

.navbarbrand-title:hover{
    color: #D9D9D9
}

.navbaroptions{
    display: flex;
}
#navoption{
    position: relative;
    padding: 5px ;
    margin: 5px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    transition: color 300ms ease-out;
}

#navoption:hover {
    color: #D9D9D9
}

#mobile{
    display: none;
}
#mobile i {
color: #ffffff;

cursor: pointer;
}
@media screen and (max-width:729px) {
    #navoption{
        margin-left: 8%;
    }
    .navbaroptions{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:7vh;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color:  #8D0709;
        transition: 1s;
        z-index: 1;
    }
    .navbaroptions.active{
        right:  0px;
    }
    #mobile{
        display: block;
    }

    #navoption{
        font-size: 12px;
    }
    .discard_button {
        font-size: 12px;
    }
    .confirm_button{
        font-size: 12px;
    }
}