.no-pictures{
    margin-top: 58%;
    margin-bottom: 60%;
    margin-left: 35%;
    width: 30%;
    font-size: 16px;
    font-family: "Roboto Flex", sans-serif;
}

.roombody{
    height: 100vh;
    font-size: small;
}
.roommain{
    display: flex;
    height: 100%;
}
.roomheader{
    width: 100%;
    height: 7vh;
    background-color: blue;
}
.furniture_type{
    padding: 10px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    background-color: #d9d9d9;
}

.furniture_description {
    padding-left: 10px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
}

.finish_date_input{
    padding: 8px 12px;
    border: 1px solid #8D0709;
    border-radius: 12px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-left: 40%;
    width: 25%;
}

.finish_date_input:focus{
    outline: none;
    border-color: #8D0709;
    box-shadow: 0 0 0 1px #8D0709;
}

.furniture_info{
    margin: 10px 30px;
}


/* HTML: <div class="loader"></div> */


.furnire_topic{
    text-align: center;
    font-weight: 500;
}
.verify{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.furniture_clear{
    width: 90%;
    max-width: 600px;
    border: 1px solid gray;
    display: flex;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.furniture_clear>label{
width: 40%;
}
.furniture_clear>div{
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
}
.furniture_clear>div:hover{
    background-color: #ececec;
}

.move_out_button {
    background-color: #8D0709;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 3%;
    padding: 8px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    transition: background-color 300ms ease-out;
}

.move_out_button:hover {
    background-color: #C81F21;
}

.general_move_out{
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    width: 60%;
    max-width: 300px;
    background-color: #8D0709;
    border: 1px solid #8D0709;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 8%;
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    transition: background-color 300ms ease-out;
}

.general_move_out:hover {
    background-color: #C81F21;
}
  
.verify_button_container {
    margin-left: auto;
}


.verify_button{
    display: inline-block;
    border: 1px solid #8D0709;
    background-color: #8D0709;
    border-radius: 12px;
    margin-left: 10px; 
    padding: 5px 10px;
    margin: 5px;
    width: 100%;
    height: 100%;
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.verify_button:hover{
    border: 1px solid #C81F21;
    background-color: #C81F21;
}

.verify_button_confirmed{
    display: inline-block;
    border: 1px solid #429354;
    background-color: #429354;
    border-radius: 12px;
    margin-left: 10px; 
    padding: 5px 10px;
    margin: 5px;
    width: 100%;
    height: 100%;
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.fa-solid {
    font-size: 16px;
}

.verify_button_confirmed:hover{
    border: 1px solid #64bd77;
    background-color: #64bd77;
}

.furniture_wrapper{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.furniture_navigation {
    display: flex;
    gap: 30%;
    padding: 10px 30px;
    align-items: center; /* Align arrows vertically center */
  }
  
.furniture_navigation>div{
    width: 70%;
    border-radius: 12px;
    border: 1px solid #8D0709;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}
.furniture_navigation>div:hover{
    background-color: #d9d9d9;
}
.furniture_div{  
  width: 70%;   
}

.card_header_wrapper{
    display: flex;
    flex-direction: row;
}
.roomcards{

    margin-top: 2vh;
    width: 100%;
    position: relative;
    height: 100%;
}
.roomwings{
width: 20%;
background-color: aquamarine;
}
.roomlogo > h1{
    height: 75px;
    background-color: blue;
}
.roomwings{
    background-color: azure;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    padding: 0px 3px;
}
.roomwing{
    background-color: aliceblue;    
    width: 100%;
    padding: 10px 3px;
    margin: 0px 3px;
    border-radius: 10px;
}
.roomwing:hover{
    background-color: red;    
}
.roomroom{
    display: flex;
    align-items: center;

}
.room_fur{
    width: 100%;;
    display: flex;
}
.roomroominside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3px 10px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: blueviolet;
}

.roomroomfur_active{
    font-weight: 600;
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px 10px;
    padding: 3px 3px;
    border-radius: 10px;
    background-color: #d9d9dd;
    border: 1px solid #8D0709;
    white-space: nowrap;
}

.roomroomfur{
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px 10px;
    padding: 3px 3px;
    border-radius: 10px;
    border: 1px solid #8D0709;
    white-space: nowrap;
    transition: background-color 300ms ease-out;
}

.roomroomfur:hover{
    background-color: #d9d9d9;
}

.loader_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room_scrol
.loader_1 {
    width: 48px;
    height: 48px;
    border: 5px solid #642a29;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.slider_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader_accept {
    width: 25px;
    height: 25px;
    margin-right: 4px;
    border: 2px solid #8D0709;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
    
.roomroomfur_end{
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px 10px;
    padding: 3px 3px;
    border-radius: 10px;
    border: 1px solid #8D0709;
    background-color: #ffffff;
    white-space: nowrap;
    transition: background-color 300ms ease-out;
}

.roomroomfur_end:hover{
    background-color: #d9d9d9;
}

.roomroomfur_accept{
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px 10px;
    padding: 3px 3px;
    border-radius: 10px;
    border: 1px solid #8D0709;
    background-color: #ffffff;
    white-space: nowrap;
    transition: background-color 300ms ease-out;
}

.roomroomfur_accept:hover{
    background-color: #d9d9d9;
}

.roommaininfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: chartreuse;
    height: 100%;
}

.furn-description {
    height: 630px;
    width: 350px;
    margin-left: 6%;
    border-radius: 12px;
}

.furniture_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 40%;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }

.furniture_navigation1 {
    display: flex;
    gap: 70%;
    padding: 3% 27%;
    align-items: center; /* Align arrows vertically center */
}
.finish_date_text{
    width: 20%;
}
.furniture_navigation1-prev {
    transition: color 300ms ease-out;
}

.furniture_navigation1-next {
    transition: color 300ms ease-out;
}

.furniture_navigation1-prev:hover {
    color: #d9d9d9
}

.furniture_navigation1-next:hover {
    color: #d9d9d9
}

.text-with-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid white; 
    padding-bottom: 10px;
  }

  .text-with-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.verification-card .text-with-border:last-child {
    border-bottom: none;
}

.verification-card {
    margin-left: 8%;
    margin-right: 19%;
    margin-top: 2%;
    border-radius: 12px;
}

@media only screen and (max-width: 1000px)  {
    .no-pictures{
        margin-top: 60%;
        margin-bottom: 60%;
        margin-left: 35%;
        width: 40%;
        font-size: 16px;
        font-family: "Roboto Flex", sans-serif;
    }
    .fa-solid {
        font-size: 12px;
    }
    
    .roomroomfur_accept{
        border-radius: 12px;
        font-size: 12px;
        margin: 2px 2px;
        padding: 5px 8px;
    }

    .roomroomfur_end{
        border-radius: 12px;
        font-size: 12px;
        margin: 2px 2px;
        padding: 5px 8px;
    }

    .roomroomfur{
        border-radius: 12px;
        font-size: 12px;
        padding: 5px 8px;
        margin: 2px 2px;
    }

    .roomroomfur_active{
        border-radius: 12px;
        font-size: 12px;
        margin: 2px 2px;
        padding: 5px 8px;
    }

    .furniture_navigation>div{
        padding: 4px;
        font-size: 12px;
        height: 30%;
    }

    .furniture_navigation {
        gap: 5px;
        padding: 5px 5px;
    }

    .verification-card {
        margin-left: 8%;
        margin-right: 8%
    }

    .loader_accept {
        width: 25px;
        height: 25px;
        margin-right: 3px;
        border: 2px solid #8D0709;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
    .furniture_info{
        margin-top: 10px;
        margin-left: 1px;
        margin-right: 10px;
    }
    .furn-description {
        height: 630px;
        width: 320px;
        margin-left: 3%;
        border-radius: 12px;
    }
    .move_out_button {
        background-color: #8D0709;
        border: none;
        border-radius: 12px;
        margin-top: 10px;
        margin-left: 3%;
        padding: 8px;
       
        font-family: "Roboto Flex", sans-serif;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        transition: background-color 300ms ease-out;
    }
    .finish_date_input{
        padding: 8px 12px;
        border: 1px solid #8D0709;
        border-radius: 12px;
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        background-color: #f8f8f8;
        margin-top: 10px;
        margin-left: 20%;
        width: 25%
    }
    .finish_date_text{
        width: 50%;
    }
    .roomroomfur_active{
        font-family: "Roboto Flex", sans-serif;
        font-size: 12px;
        padding: 5px 8px;
        margin: 2px 2px;
        border-radius: 12px;
        border: 1px solid #8D0709;
        white-space: nowrap;
    }
    
}  
