.roombody{
    height: 93vh;
}
.roommain{
    display: flex;
    height: 100%;
}
.roomheader{
    width: 100%;
    height: 7vh;
    background-color: blue;
}
.furniture_type{
    padding: 10px;
    font-weight: 500;
    background-color: rgb(252, 238, 219);
}
.finish_date_input{
    padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      width: 200px; /* Adjust width as needed */
      box-sizing: border-box; /* Ensure padding and border are included in the width */
      background-color: #f8f8f8;
}
.furniture_info{
    font-size: large;
    margin: 10px 30px;
}
.furnire_topic{
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.verify{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.furniture_clear{
    width: 90%;
    max-width: 600px;
    border: 1px solid gray;
    display: flex;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.furniture_clear>label{
width: 40%;
}
.furniture_clear>div{
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
}
.furniture_clear>div:hover{
    background-color: #ececec;
}
.general_move_out{
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    width: 90%;
    max-width: 300px;
    background-color: rgb(252, 196, 196);
    border: 1px solid gray;
    cursor: pointer;
    margin-top: 30px;
}
.verify_button{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 60%;
    max-width: 600px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.furniture_wrapper{
    font-size: large;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.furniture_navigation{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding: 10px 30px;
}
.furniture_navigation>div{
    width: 100px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.furniture_navigation>div:hover{
    background-color: #ececec;
}
.furniture_div{
    
  width: 70%;   
}
.roomcards{
margin-top: 5px;
width: 100%;
position: relative;
height: 100%;
}
.roomwings{
width: 20%;
background-color: aquamarine;
}
.roomlogo > h1{
    height: 75px;
    background-color: blue;
}
.roomwings{
    background-color: azure;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    padding: 0px 3px;
}
.roomwing{
    background-color: aliceblue;    
    width: 100%;
    padding: 10px 3px;
    margin: 0px 3px;
    border-radius: 10px;
    font-size: 15px;
}
.roomwing:hover{
    background-color: red;    
}
.roomroom{
    display: flex;
    align-items: center;

}
.room_fur{
    width: 100%;;
    display: flex;
}
.roomroominside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3px 10px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: blueviolet;
}
/* .slick-slide1{
    width: !important;
} */

.roomroomfur_active{
    font-weight: 500;

    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px 10px;
    padding: 3px 3px;
    border-radius: 10px;
    background-color: rgb(238, 236, 236);
    border: 1px solid gray;
    white-space: nowrap;
}
.roomroomfur{
    font-weight: 500;

    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px 10px;
    padding: 3px 3px;
    border-radius: 10px;
    border: 1px solid gray;
    white-space: nowrap;
}
.roommaininfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: chartreuse;
    height: 100%;
}