.main{
    background-color: #e9dfbc;
}

.button_group{
    grid-area: "group";
    display: grid;
    grid-template-areas: 'button1 button2 button3';
    margin-right: 30px;
}
.card_header_wrapper{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
    align-self: center;
}
.card-body{
    flex-direction: row!important;
}

.main-text{
    color: #542400;
    margin: 30px;
    font-size: 175%;
    padding: 15px 10px 20px 7px;
    text-align: center;
}

.rooms{
    font-size: 125%;
    padding: 0px 10px 20px 7px;
}
.heading_login{
    height: auto;
    margin-top: 50px;
}
