.roomsbody{
    height: 93vh;
}
.roomsmain{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
}
.roomsheader{
    width: 100%;
    height: 7vh;
    background-color: blue;
}
.slick-prev, .slick-next {
    color:  red !important;
}
.loader_div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.card_room{
    width: 18rem;
    cursor: pointer;
    background-color: #ae1c1c;
}
.card_room:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar_wrapper{
    --bs-bg-opacity: 1;
    background-color: rgba(230, 199, 151, 0.5)!important;
}
.roomscard{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}  

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.search-input {
    margin-left: 40%;
    margin-top: 2%;
}

.my-rooms {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}

.input-room {
    font-family: "Lexend", sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
    height: 45px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #8D0709;
    border-radius: 16px;
    padding-left: 2%;
}

.card>.list-group {
    --bs-list-group-border-color: #ffffff;
    --bs-list-group-border-radius: 12px;
}

.card {
    background-color:rgb(60, 139, 0)
}

.list-group-flush>.list-group-item {
    background-color: #d9d9d9;
}

.custom-table {
    margin-left: 13%;
    border-collapse: collapse;
    width: 55%;
    margin-bottom: 20%;
}
  
.custom-table th,
.custom-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
}
  
.roomscardfooter{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    gap: 10px;
    padding: 5px;
}
.roomscardfooter2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.roomscardfooter2>div{
   width: 25%;
    display: flex;
    align-items: center;
}
.roomscardfooter2>div>span{
    margin: auto;    
}
.heading_submition{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.spec_submition_wrapper{
    display: flex;
    flex-direction: column  ;
}
.submition_wrapper{
    padding: 10px 15px;
    background-color: #d9d9d9;
}
.roomscards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 7vh;
}

.roomrejected{
    background-color: rgb(175, 3, 3);
    width: 70%;
    height: 5px;
    margin: 0px 2%;
}

.roomaccepted{
    background-color: rgb(60, 139, 0);
    width: 70%;
    height: 5px;
    margin: 0px 2%;
}
.roomswings{
width: 20%;
background-color: aquamarine;
}
.roomslogo > h1{
    height: 75px;
    background-color: blue;
}
.roomswings{
    background-color: azure;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    padding: 0px 3px;
}
.roomswing{
    background-color: aliceblue;    
    width: 100%;
    padding: 10px 3px;
    margin: 0px 3px;
    border-radius: 10px;
    font-size: 15px;
}
.roomswing:hover{
    background-color: red;    
}
.roomsroom{
    display: flex;
    align-items: center;

}
.roomsroominside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3px 10px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: blueviolet;
}
.roomsslider{
    margin: 5px 30px;
}
.roomsroomfur{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3px 10px;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: brown;
    white-space: nowrap;
}
.roomsmaininfo{
    display: flex;
    width: 100%;
    background-color: chartreuse;
    height: 100%;
}
.roomnumber{
    font-weight: 400;
    font-size: 30px;
    border-bottom: 1px solid gray;  
}

.search-button {
    background-color: #8D0709;
    border: none;
    border-radius: 12px;
    border-color: #8D0709;
    height: 40px;
    width: 127px;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #ffffff;
    transition: 300ms ease-out;
}

.search-button:hover {
    background-color: #C81F21;
}



.input-room:focus {
    outline: none;
    border-color: #8D0709;
    box-shadow: 0 0 0 1px #8D0709;
}
  
.name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  .roomaccepted {
    background-color: #429354;
  }
  
  .roomrejected {
    background-color: #8D0709;
  }
  
.card_header_wrapper.card-body {
    border-radius: 12px 12px 0 0;
}

.card>.list-group:last-child {
    --bs-card-inner-border-radius: 12px;
    border-bottom-right-radius: 12px
}

@media  only screen and (max-width: 1000px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1410px!important;
    }

    .search {
        display: inline;
        margin-top: 25%;
        flex-direction: column; 
    }

    .search-input {
        margin-left: 5%;
        margin-top: 2%;
    }

    .my-rooms {
        margin-left: 5%;
    }

    .input-room {
        width: 50%;
    }

    .custom-table th,
    .custom-table td {
        font-size: 12px;
    }

    .custom-table {
        width: 75%;
    }
    .search-button {
        background-color: #8D0709;
        border: none;
        border-radius: 12px;
        height: 40px;
        width: 127px;
        font-family: "Lexend", sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 300;
        color: #ffffff;
        transition: 300ms ease-out;
        margin-top: 3%;
    }
    .input-room {
        font-family: "Lexend", sans-serif;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 300;
        height: 45px;
        width: 310px;
        margin-right: 10px;
        border: 1px solid #8D0709;
        border-radius: 16px;
        padding-left: 2%;
    }
}

